<section class="add">
  <v-card class="pa-1" :loading="loading">
    <v-row class="ma-1" align="center">
      <slot name="header">
        <v-col cols='1' justify="center" align="center">
          <v-avatar size="40" class="grey">
            <img :src="`https://api.adorable.io/avatars/${post.author.id}`" alt="John">
          </v-avatar>
        </v-col>
        <v-col>
          <p class="title my-0 py-0">{{post.author.name}}</p>
          <p class="subtitle-2 my-0 py-0">{{formattedDate}}</p>
        </v-col>
      </slot>
    </v-row>
    <v-col class="pt-0" justify="start">
      <slot name="body">
      </slot>
      <slot name="interaction">
        <v-row class="mt-2 ml-2" align='center'>
          <v-btn text small>
            <v-icon color="grey darken-2" small left>fas fa-thumbs-up</v-icon>
            {{post.likesCount}}
          </v-btn>
          <v-btn text small @click="displayComments">
            <v-icon color="grey darken-2" small left>fas fa-comment</v-icon>
            {{post.commentsCount}}
          </v-btn>
          <v-btn text small>
            <v-icon color="grey darken-2"small left>fas fa-share-alt</v-icon>
          </v-btn>
        </v-row>
      </slot>
      <slot name="interaction">
        <v-row class="mt-2 ml-2" v-if="showComments">
            <v-row v-for="comment in post.comments" :key="comment.commentId">
              <p>{{ comment.author }}</p>
              <p>{{ comment.body }}</p>
            </v-row>
        </v-row>
      </slot>
    </v-col>
  </v-card>
</section>