<section class="comment">
  <v-row>
    <v-col cols="1" align="center">
      <v-btn text icon small @click="submitVote('like')">
        <v-icon color="primary lighten-5" small>fas fa-caret-up</v-icon>
      </v-btn>
      <v-avatar size="40">
        <span>{{likeBalance}}</span>
      </v-avatar>
      <v-btn text icon small @click="submitVote('dislike')">
        <v-icon color="primary lighten-5" small>fas fa-caret-down</v-icon>
      </v-btn>
    </v-col>
    <v-col>
      <v-row align="center" class="mx-0">
        <v-avatar size="20" class="mr-2">
          <img :src="`https://api.adorable.io/avatars/${comment.author.id}`" alt="John" />
        </v-avatar>
        <p class="title my-0 py-0"><a class="secondary--text">
            {{comment.author.name}}</a>
          <span class="subtitle-2 my-0 py-0">{{formattedDate}}</span></p>
      </v-row>
      <p class="mb-0">{{comment.body}}</p>
      <v-row justify='center' align="center" class="my-1">
        <v-col>
          <v-divider />
        </v-col>
    </v-col>
  </v-row>
</section>